/**
* TODO CHange this when migrating to WP 2.5
* @media projection, screen{.ui-tabs-hide {display:none;}}
* @media print{.ui-tabs-nav {display:none;}}
*/

.avh_wrap fieldset.options legend{display:none;}
/* Options - Menu */
.avh_wrap .avhfdas_submenu{background:#464646;border-bottom:none;margin:0 0 3px;padding:3px 1em 0 1em;}
.avh_wrap .avhfdas_submenu li{height:25px;display:inline;line-height:200%;list-style:none;text-align:center;white-space:nowrap;}
.avh_wrap .avhfdas_submenu li a{border:none;color:#fff;font-size:12px;padding:.3em .4em .4em;text-decoration:none;}
.avh_wrap .avhfdas_submenu li a:hover{background:#D54E21;color:#fff;}
.avh_wrap .avhfdas_submenu li.ui-tabs-selected {font-weight:700;background:#E4F2FD;color:#464646;padding:.3em 0 .4em;}
.avh_wrap .avhfdas_submenu li.ui-tabs-selected a{color:#464646;}
.avh_wrap .avhfdas_submenu li.ui-tabs-selected a:hover{background:#D54E21;color:#fff;}

@media projection, screen{.tabs-hide {display:none;}}
@media print{.tabs-nav {display:none;}}

/* Options Table */
.avh_wrap fieldset.options legend{display:none;}
.avh_wrap fieldset.options {border:0;}
.avh_wrap .form-table th {width:150px;}
.avh_wrap .avhfdas_explain{font-size:0.9em;}
.avh_wrap .avhfdas_explain ul{list-style:square;margin:0 0 0 20px;padding:0;}
.avh_wrap .avhfdas_explain ul li {margin:0;padding:0;}

.avh_wrap .pagination,.avh_wrap .widefat th,.avh_wrap .widefat td{text-align:center;}
.avh_wrap .pagination{margin:5px 0;}
.avh_wrap .pagination a{margin:1px 3px;}
.avh_wrap .pagination a.current_page{font-weight:700;}
.avh_wrap #post .submit input{width:300px;}
.avh_wrap #post input, .avh_wrap .auto_list{width:98%;margin:3px 0;padding:3px 5px;}
.avh_wrap .stpexplan ul li, .avh_wrap #suggesttagsdiv p{margin:0;padding:0;}

.footer_avhfdas {font-size:0.8em;text-align:center;}

div.clearer{clear:both;line-height:1px;font-size:1px;height:1px;}

.box_color{display:block;width:20px;height:20px;border:1px solid #ccc;}

/* Metabox */
#avhfdasmetabox01 div.ui-tabs-panel {
border-style:solid;
border-width:4px;
height:20em;
margin:0pt 5px 0pt 120px;
overflow:auto;
padding:0.5em 0.9em;
}

#avhfdasmetabox01 ul#avhfdas_tabs {
 float: left;
 width: 120px;
 text-align: right;
 /* Negative margin for the sake of those without JS: all tabs display */
 margin: 0 -120px 0 0;
 padding: 0;
}

ul#avhfdas_tabs li {
 padding: 8px;
}

ul#avhfdas_tabs li.ui-tabs-selected {
 -moz-border-radius-topleft: 3px;
 -khtml-border-top-left-radius: 3px;
 -webkit-border-top-left-radius: 3px;
 border-top-left-radius: 3px;
 -moz-border-radius-bottomleft: 3px;
 -khtml-border-bottom-left-radius: 3px;
 -webkit-border-bottom-left-radius: 3px;
 border-bottom-left-radius: 3px;
}

ul#avhfdas_tabs li.ui-tabs-selected a {
 color: #333;
 font-weight: bold;
 text-decoration: none;
}

#avhfdasmetabox01 ul {
 list-style: none;
 padding: 0;
 margin: 0;
}
ul#avhfdas_tabs li.ui-tabs-selected, .button-secondary, #quicktags, #login form .submit input {
 background-color: #cee1ef !important;
}