.footer_avhfdas {
	font-size: 0.8em;
	text-align: center;
}

div.clearer {
	clear: both;
	line-height: 1px;
	font-size: 1px;
	height: 1px;
}

/* Statistics */

#avhfdasBoxStats p.sub,
#avhfdasBoxStats .table, #avhfdasBoxStats .versions {
	margin: -12px;
}

#avhfdasBoxStats .inside {
	font-size: 12px;
}

#avhfdasBoxStats p.sub {
	font-style: italic;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	padding: 5px 10px 15px;
	color: #777;
	font-size: 13px;
}

#avhfdasBoxStats .table {
	background: #f9f9f9;
	border-top: #ececec 1px solid;
	border-bottom: #ececec 1px solid;
	margin: 0 -9px 10px;
	padding: 0 10px;
}

#avhfdasBoxStats table {
	width: 100%;
}

#avhfdasBoxStats table  td {
	border-top: #ececec 1px solid;
	padding: 3px 0;
	white-space: nowrap;
}

#avhfdasBoxStats table tr.first td {
	border-top: none;
}

#avhfdasBoxStats td.b {
	padding-right: 6px;
	text-align: right;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size: 14px;
}

#avhfdasBoxStats td.b a {
	font-size: 18px;
}

#avhfdasBoxStats td.b a:hover {
	color: #d54e21;
}

#avhfdasBoxStats .t {
	font-size: 12px;
	padding-right: 12px;
	padding-top: 6px;
	color: #777;
}

#avhfdasBoxStats td.first,
#avhfdasBoxStats td.last {
	width: 1px;
}

#avhfdasBoxStats .versions {
	padding: 6px 10px 12px;
}

#avhfdasBoxStats .versions .b {
	font-weight: bold;
}

#avhfdasBoxStats a.button {
	float: right;
	clear: right;
	position: relative;
	top: -5px;
}


#avhfdasBoxDonations .b {
	font-weight: bold;
}
#avhfdasBoxDonations .inside {
	font-size: 12px;
}